body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

form {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 100%;
  padding: 20px;
}

.cardContainers {
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr;
}
