/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/

#root,
#__next {
  isolation: isolate;
}
:root {
  --porcelain: #f9f7f3;
  --icy-blue: #b5e2fa;
  --vanilla-custard: #fff4c5;
  --tangerine-dream: #f7a072;
  --tangerine-dream-hover: #e87b41;
  --pacific-blue: #0fa3b1;
  --jungle-green: #59a96a;
  --jungle-green-hover: #2b9e44;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/3;
  background-color: var(--porcelain);
  padding: 1em;
}

.header nav {
  display: flex;
  align-items: center;
}

.header ul {
  display: flex;
  align-items: center;
}

.header li {
  list-style-type: none;
  margin: 0 0 0 1em;
}

.sidebar {
  grid-column: 1/2;
  display: flex;
  height: 100%;
  padding: 1em;
  background-color: var(--icy-blue);
}

.inputsContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer input {
  margin: 0;
  border: none;
  border-radius: 8px;
  background-color: white;
  padding: 3px;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: var(--tangerine-dream);
}

button:hover {
  cursor: pointer;
  background-color: var(--tangerine-dream-hover);
}

.read {
  background-color: var(--jungle-green);
}

.read:hover {
  background-color: var(--jungle-green-hover);
}

form {
  width: 100%;
}

form * + * {
  margin-top: 1em;
}

.cardsContainer {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 30px;
  gap: 30px;
  background-color: white;
  box-shadow: inset 5px 3px 10px rgb(213, 211, 211);
}

.card {
  background-color: var(--porcelain);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 3px 10px rgb(213, 211, 211);
}

.card * + * {
  margin-top: 15px;
}

.card button {
  width: 100px;
  margin-right: 15px;
}
