body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 100%;
  padding: 20px;
}

.cardsContainer {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 30px;
  gap: 30px;
}

.card {
  background-color: bisque;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
